body {
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR8iv2z5N9071sNs01zgRWQF9cADMsHovr0VA&usqp=CAU)
    no-repeat center center fixed;
    background-size: cover;
    font-family: sans-serif;
}

header {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.head {
    float: left;
    color: #fff;
    font-family: cursive;
}

nav {
    float: right;
}

li {
    display: inline;
    padding: 1rem;
}

li a {
    color: #fff;
    text-decoration: none;
    font-weight: bolder;
}

.active {
    color: goldenrod;
}

.container {
    width: 79%;
    margin: auto;
    overflow: hidden;
    margin-top: 2%;
}

 showcase h1 {
     color: #fff;
     font-family: cursive;
     text-align: center;
 }

  showcase h3 {
      color: #fff;
      text-align: center;
      letter-spacing: 2px;
  }

  .category {
      color: #fff;
      margin-top: 5%;
      display: flex;
      text-align: center;
      font-family: cursive;
  }

  img {
      width: 70%;
      border-radius: 50%;
  }

  .tandoori  .veg-biryani {
      padding-left: 1rem;
  }

  h4 {
      font-size: 1.5rem;
      margin: 3%;
  }

  
    .btn{
        background-color: gold;
        padding: 1rem;
        border: none;
        border-radius: 8px;
        margin-left: 45%;
    }
  
